<!--img fixa-->
<img src="https://cdn.discordapp.com/attachments/758319266763898913/773159064418648064/a20f2f5b3080d81c8a6ca21500a0fb1fb9b85366.png" class="img-fluid" alt="Imagem responsiva">
<!--/img fixa-->

<!--texto-->
<div class="container p-5">
    <div class="col-md-12 float-center">
        <div class="text-justify">
            <p class="font-italic text-monospace absolute-center">O Projeto MyHospital surgiu a partir da proposta da Generation Brasil que nos desafiou em criar o web site. A equipe de desenvolvedores perceberam a nessecidade em criar um site em que possibilite que os usuários possam agendar consultas online
                próximas a sua residencia, assim agilizando o atendimento do mesmo. O projeto tem como foco inicial atender a população da capital metropolitana de são paula na zona sul.

            </p>

        </div>
    </div>
</div>
<!--/texto-->

<!--Jumbotron-->
<div class="jumbotron jumbotron-fluid p-5" style="background-color:aqua">
    <div class="container">
        <h1 class="display-4">DESENVOLVEDORES</h1>
        <p class="lead"></p>
    </div>
</div>
<!--/Jumbotron-->

<!--Card-->
<div class="card-deck mt-5 ">
    <div class="card">
        <img class="card-img-top" src="https://ca.slack-edge.com/T01971LJPEF-U0196RZ724S-1b7a6f1c3144-512" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Andre Peduti</h5>
            <p class="card-text"></p>
            <div class="d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/andr%C3%A9-peduti-57aa4a159/" target="_blank" style="padding: 15px;"><img src="https://media.discordapp.net/attachments/758319266763898913/773189318990102538/9_linkedin.png?width=476&height=476" style="width: 30px; height: 30px;">
                </a>
                <a href="https://github.com/Andrepeduti" target="_blank" style="padding: 15px;"><img src="https://cdn.discordapp.com/attachments/758319266763898913/773189212656369664/2_github.png" style="width: 30px; height: 30ps;">
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://ca.slack-edge.com/T01971LJPEF-U019KFNC1B3-a7dbd897154e-512" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Camila Andrade</h5>
            <p class="card-text"></p>
        </div>
        <div class="d-flex justify-content-center">
            <a href="https://www.linkedin.com/in/camila-andrade-405a1b168/" target="_blank" style="padding: 15px;"><img src="https://media.discordapp.net/attachments/758319266763898913/773189318990102538/9_linkedin.png?width=476&height=476" style="width: 30px; height: 30px;">
            </a>
            <a href="https://github.com/Ca010" target="_blank" style="padding: 15px;"><img src="https://cdn.discordapp.com/attachments/758319266763898913/773189212656369664/2_github.png" style="width: 30px; height: 30ps;">
            </a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://ca.slack-edge.com/T01971LJPEF-U018S3FNWFR-b93b36a57f1a-512" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Leandro Paiva</h5>
            <p class="card-text"></p>
        </div>
        <div class="d-flex justify-content-center">
            <a href="https://www.linkedin.com/in/leandro-silva-paiva/" target="_blank" style="padding: 15px;"><img src="https://media.discordapp.net/attachments/758319266763898913/773189318990102538/9_linkedin.png?width=476&height=476" style="width: 30px; height: 30px;">
            </a>
            <a href="" target="_blank" style="padding: 15px;"><img src="https://cdn.discordapp.com/attachments/758319266763898913/773189212656369664/2_github.png" style="width: 30px; height: 30ps;">
            </a>
        </div>
    </div>
</div>
<div class="card-deck mt-5 ">
    <div class="card">
        <img class="card-img-top" src="https://ca.slack-edge.com/T01971LJPEF-U01903ZG554-54a3027f0df3-512" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Rodrigo Lázaro</h5>
            <p class="card-text"></p>
            <div class="d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/rodrigo-l%C3%A1zaro-9916b9158/" target="_blank" style="padding: 15px;"><img src="https://media.discordapp.net/attachments/758319266763898913/773189318990102538/9_linkedin.png?width=476&height=476" style="width: 30px; height: 30px;">
                </a>
                <a href="https://github.com/RodrigoLazaro14" target="_blank" style="padding: 15px;"><img src="https://cdn.discordapp.com/attachments/758319266763898913/773189212656369664/2_github.png" style="width: 30px; height: 30ps;">
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C4D03AQFprKwfrdVAyA/profile-displayphoto-shrink_200_200/0?e=1609977600&v=beta&t=oy87fGc4rFR9WnkMmc5OTd3tJq7vBj5wNv1LBd5rebA" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Rebecca Medeiros</h5>
            <p class="card-text"></p>
        </div>
        <div class="d-flex justify-content-center">
            <a href="https://www.linkedin.com/in/rebecca-medeiros-837051107/" target="_blank" style="padding: 15px;"><img src="https://media.discordapp.net/attachments/758319266763898913/773189318990102538/9_linkedin.png?width=476&height=476" style="width: 30px; height: 30px;">
            </a>
            <a href="https://github.com/devbecc" target="_blank" style="padding: 15px;"><img src="https://cdn.discordapp.com/attachments/758319266763898913/773189212656369664/2_github.png" style="width: 30px; height: 30ps;">
            </a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://ca.slack-edge.com/T01971LJPEF-U0196SACR1Q-b9eaa419d0ef-512" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Vanderlan Alves</h5>
            <p class="card-text"></p>
        </div>
        <div class="d-flex justify-content-center">
            <a href="https://www.linkedin.com/in/vanderlanalves/" target="_blank" style="padding: 15px;"><img src="https://media.discordapp.net/attachments/758319266763898913/773189318990102538/9_linkedin.png?width=476&height=476" style="width: 30px; height: 30px;">
            </a>
            <a href="https://github.com/VanderlanAlves" target="_blank" style="padding: 15px;"><img src="https://cdn.discordapp.com/attachments/758319266763898913/773189212656369664/2_github.png" style="width: 30px; height: 30ps;">
            </a>
        </div>
    </div>
</div>
<!--/Cards-->